<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ver Producto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>

<body>
<div class="container text-center mt-5">
    <div class="row">
        <div class="col-2">
        </div>

        <div class="col-8">
            <!-- Vista de un solo producto -->
            <h2>Detalles del Producto</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" th:text="${product.id}"></th>
                        <td th:text="${product.title}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.quantity}"></td>
                    </tr>
                </tbody>
            </table>

            <!-- Botones de acción -->
            <div class="mt-3">
                <a class="btn btn-success" th:href="@{/products/{id}/edit(id=${product.id})}">Editar Producto</a>
                <a class="btn btn-danger" th:href="@{/products/{id}/delete(id=${product.id})}">Borrar Producto</a>
                <a class="btn btn-secondary" th:href="@{/products}">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
